*~
*.la
*.lo
*.o
*.swp
Makefile
Makefile.in
config.log
config.status
libtool
configure
aclocal.m4
buildutils
autom4te.cache
*/.deps/
*/.libs/
*/config.h.in
*/config.h
*/Makefile.in
*/Makefile
*/stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tvutils/tvutils.pc
tvutils/target.h
tvutils/endian.h
tvutils/memory_access.h
pyext/tvutils.py
pyext/tvutils_wrap.c


